<!DOCTYPE html>
<html style="height: 100%; width: 100%">
  <head>
    <meta charset="utf-8" />
    <title>Chrome Capture Pro Editor by Dragon</title>
    <link rel="stylesheet" href="./styles/editor_theme.css" />
  </head>
  <body>
    <div id="editor" style="width: 100%; height: 100%"></div>
    <div id="modalContainer"></div>
  </body>
  <script src="../libs/fabric/fabric.min.js"></script>
  <script src="../dist/shared/bundle.js"></script>
  <script src="../dist/editor/bundle.js"></script>
</html>