<!DOCTYPE html>
<html style="width: 360px; min-width: 360px; background-color: #0c1017">
  <head>
    <meta charset="UTF-8" />
    <title>Chrome Capture Pro by Dragon</title>
    <link rel="stylesheet" href="./styles/popup_theme.css" />
  </head>
  <body style="width: 360px; min-width: 360px; margin: 0px; box-sizing: border-box; overflow: hidden">
    <div id="mountNode" style="width: 360px; min-width: 360px; overflow: hidden"></div>
  </body>
  <script src="../license-guard.js"></script>
  <script src="../dist/shared/bundle.js"></script>
  <script src="../dist/popup/bundle.js"></script>
</html>
